norconex-importer/src/main/java/com/norconex/importer/handler/tagger/AbstractDocumentTagger.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="AbstractDocumentTagger" abstract="true">
    <xs:attribute name="class" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>

  <xs:element name="restrictTo">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="caseSensitive" type="xs:boolean"></xs:attribute>
          <xs:attribute name="field" type="xs:string"></xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

</xs:schema>

